/* ******************* 
 genaral part css start 
 ******************* */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
    padding: 0;
}

a,
i,
span,
img {
    display: inline-block;
}

/* *********************
genaral part css end 
******************** */

:root {
    --border: 1px solid red;
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --gray-color: #606060;
    --brand-color: #1447ea;
    --white: #ffffff;
    --light-black: #404040;
    --black: #252525;
    --ash-color: #7c8295;
    --div-black: #242121;
    --feaver-black: #454545;
    --prevention-blue: #002fc7;
    --tometo: #f86168;
}

/* **************************
 header part css start 
 ************************** */
/* #header {
    border: var(--border); 
} */

/* logo part css start  */

#header .logo {
    /* border: var(--border); */
    padding-top: 42px;
}

#header .logo img {
    width: 155px;
}

/* *************************
nav part start 
************************* */
/* 
nav {
     border: var(--border); 
} */

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* nav ul li {
     border: var(--border); 
} */

nav ul li a {
    font-size: 16px;
    line-height: 16px;
    color: var(--gray-color);
    font-weight: 500;
    font-family: var(--Poppins);
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li a:hover {
    color: var(--brand-color);
}

#header .button {
    /* border: var(--border); */
    padding-top: 35px;
}

#header .button a {
    color: var(--white);
    padding: 20px 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(45deg, #1447ea 0%, #03deec 98%);
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
}

/* **************************
 header part css end
 ************************** */


/* *********************
 banner part css start 
 ********************* */

#banner {
    border: var(--border);
    background-image: url("../images/banner/bg_image.png");
    background-size: cover;
    padding-top: 305px;
    padding-bottom: 175px;
    background-position: center;
    background-repeat: no-repeat;
}

/* #banner .banner_contain {
    border: var(--border);
} */

#banner h1 {
    color: var(--brand-color);

    font-size: 50px;
    line-height: 50px;
    color: var(--brand-color);
    font-weight: 600;
    font-family: var(--Poppins);
    padding-bottom: 30px;
}

#banner .heading h2 {
    font-size: 60px;
    line-height: 60px;
    color: var(--light-black);
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 65px;
}

#banner .heading .heading_2 {
    padding-bottom: 15px;
}

#banner .banner_contain a {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 17px;
    color: var(--white);
    font-weight: 500;
    font-family: var(--Poppins);
    border-radius: 30px;
    background-color: var(--brand-color);
    /* border: var(--border); */
    padding: 20px 50px;
    text-transform: uppercase;
}

/* **************************
 banner part css end 
 ************************* */


/* ************************
 about part css start 
 ************************ */

#about {
    border: var(--border);
}

#about .about_image {
    /* padding-top: 145px; */
    /* border: var(--border); */
    margin-top: 140px;
    /* height: 100%; */
    height: calc(100% - 140px);
    background-image: url("../images/about/about_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #about .about_image img {
    width: 100%;
} */

/* about right part css start  */

#about .about_right_text {
    padding-top: 275px;
    /* border: var(--border); */
}

#about .about_right_text .text_heading h2 {
    font-size: 40px;
    line-height: 40px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--Poppins);

}

#about .about_right_text .text_heading .fast_line {
    padding-bottom: 20px;
}

#about .about_right_text p {
    padding-top: 60px;
    font-size: 16px;
    line-height: 28px;
    color: var(--ash-color);
    font-weight: 400;
    font-family: var(--Roboto);
}

#about .covid_instraction {
    padding-bottom: 110px;
}

#about .covid_instraction ul {
    padding-top: 50px;
    /* padding-bottom: 140px; */
}

#about .covid_instraction ul li {
    font-size: 17px;
    line-height: 17px;
    color: var(--gray-color);
    font-weight: 400;
    font-family: var(--Roboto);
    padding-bottom: 30px;
    text-transform: capitalize;
}
#about .covid_instraction .ruls.left ul li i{
    color: var(--brand-color);
    margin-right: 15px;
}
#about .covid_instraction .ruls.right ul li i{
    color: var(--tometo);
    margin-right: 15px;
}

/* *************************
 about part css end 
 ************************* */

/* ***************************
 covid report part css start 
 *************************** */

#daily_report {
    border: var(--border);
    background-image: url("../images/daily_report/daily_report.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: var(--div-black);  */

}

#daily_report .overlay {
    background-color: rgba(0, 0, 0, .6);
}

/* #daily_report .active_case{
 } */

#daily_report .active_case h2,
#daily_report .total_death h2,
#daily_report .recovered h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--white);
    font-weight: 600;
    font-family: var(--Poppins);
    padding-top: 110px;
    padding-bottom: 45px;
    text-align: center;
}

#daily_report .active_case h3,
#daily_report .total_death h3,
#daily_report .recovered h3 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    color: var(--white);
    font-weight: 500;
    font-family: var(--Poppins);
    padding-bottom: 110px;
    text-transform: uppercase;
    text-align: center;
}

/* #daily_report .total_death {

} */

/* #daily_report .recovered{

} */

/* ***************************
 covid report part css end 
 *************************** */

/* common_heading_css_start */
.common_heading {
    /* border: var(--border); */
    padding-top: 140px;
    padding-bottom: 60px;
    text-align: center;

}

.common_heading h4 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    color: var(--gray-color);
    font-weight: 400;
    font-family: var(--Poppins);
    padding-bottom: 20px;
    text-transform: uppercase;
}

.common_heading h2 {
    font-size: 40px;
    line-height: 40px;
    color: var(--black);
    font-weight: 600;
    
    font-family: var(--Poppins);
    padding-bottom: 10px;
}

.common_heading img {
    width: 120px;
}

.common_heading_white h4,
.common_heading_white h2 {
    color: var(--white);
}

.common_heading {
    border: var(--border);
}

/* common_heading_css_end */



#symptomps {
    border: var(--border);
}

#symptomps .feaver {
    /* border: var(--border); */
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    transition-duration: .3s;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--white);
}

#symptomps .feaver img {
    height: 130px;
    padding-top: 40px;
}

#symptomps .feaver h2 {
    font-size: 24px;
    line-height: 24px;
    color: var(--feaver-black);
    font-weight: 500;
    font-family: var(--Poppins);
    padding-top: 35px;
    padding-bottom: 15px;
}

#symptomps .feaver p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 28px;
    color: #7c8295;
    font-weight: 400;
    font-family: var(--Roboto);
    text-align: center;
    padding-bottom: 40px;
}

#symptomps .feaver:hover {
    background-image: linear-gradient(45deg, #1447ea 0%, #03deec 98%);
}

#symptomps .feaver:hover h2,
#symptomps .feaver:hover p {
    color: white;
}

/* **************************
prevention part css start 
************************** */

#prevention {
    border: var(--border);
    background-color: var(--prevention-blue);
    /* color: var(--white); */
}

#prevention .avoid {
    /* border: var(--border); */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 45px;
    padding-right: 35px;
    padding-bottom: 35px;
}

#prevention .avoid img {
    height: 150px;
    padding-bottom: 20px;
}

#prevention .avoid h2 {
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
    font-weight: 500;
    font-family: var(--Poppins);
    padding-top: 20px;
    padding-bottom: 15px;

}

#prevention .avoid p {
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    font-weight: 400;
    font-family: var(--Roboto);
    padding-top: 15px;
}